{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block body %}
<table>
  <thead>
    <tr>
      <th>Candidate Name</th>
      <th>Candidate Contact</th>
      <th>Candidate Email</th>
      <th>avialable_for</th>
      <th>Company</th>
      <th>Technology</th>        
      <th>Post</th>      
      <th>Scheduled Date</th>      
      <th>Scheduled Time</th>
       <th>Scheduled By</th>
      <th>Interviewer Name</th>           
      <th>Interviewer Email</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in records %}
    <tr>
      <td data-column="First Name">{{ rec.name}}</td>
      <td data-column="Last Name">{{ rec.candidate_contact }}</td>
      <td data-column="Job Title">{{ rec.candidate_mail}}</td>
      <td data-column="Twitter">{{ rec.avialable_for}}</td>
      <td data-column="Twitter">{{ rec.company}}</td>
      <td data-column="Twitter">{{ rec.technology}}</td>
      <td data-column="Twitter">{{ rec.post}}</td>
      <td data-column="Twitter">{{ rec.scheduled_date}}</td>
      <td data-column="Twitter">{{ rec.scheduled_time}}</td>
      <td data-column="Twitter">{{ rec.scheduled_by}}</td>
      <td data-column="Twitter">{{ rec.interviewr_name}}</td>
      <td data-column="Twitter">{{ rec.interviewr_mail}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}

